@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg: hsl(0 0% 15%);
  --form-bg: hsl(0 0% 20%);
  --form-border-color: hsl(0 0% 30%);
  --form-shadow-color: hsl(0 0% 13%);
  --task-bg: hsl(0 0% 19%);
  --text-color: hsl(0 0% 85%);
  --submit-btn-bg: hsl(0 0% 90%);
  --task-btn-hover-bg: hsl(0 0% 30%);
  --info-card-bg: hsl(0 0% 22%);
  --info-card-hover-bg: hsl(0 0% 20%);
  --info-card-scrollbar-thumb-bg: hsl(0 0% 30%);
  --info-card-shadow-color: hsl(0 0% 10%);
  --drop-menu-bg: hsl(0 0% 18%);
  --drop-menu-hover-bg: hsl(0 0% 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

#root {
  position: relative;
  min-height: 100dvh;
  background: var(--main-bg);
  color: var(--text-color);
  font-family: 'Roboto', monospace;
  padding-top: 4rem;
}

#root::before {
  content: "";
  position: fixed;
  inset: 0;
  opacity: 0;
  background: hsl(0 0% 0% / .3);
  backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 15;
  transition: opacity .3s ease;
}

#root.blur::before {
  opacity: 1;
  pointer-events: auto;
}

#root::after {
  content: "";
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(2.5rem + 3rem / 2);
  background: inherit;
  z-index: 5;
}

footer {
  position: fixed;
  width: 100%;
  background: inherit;
  bottom: 0;
  left: 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  z-index: 10;
}

a, a:hover, a:active, a:visited {
  color: inherit;
}

#app {
  position: relative;
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  padding-bottom: 5rem;
}

#app-form {
  position: fixed;
  bottom: 40%;
  left: 50%;
  width: inherit; 
  min-width: inherit;
  max-width: inherit;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 3rem;
  padding: .5rem;
  background: var(--form-bg);
  border: 1px solid var(--form-border-color);
  border-radius: 1.5rem;
  box-shadow: 3px 3px 5px var(--form-shadow-color);
  z-index: 10;
}

#app-form.drop {
  bottom: 2.5rem;
  transition: bottom .2s ease-out;
}

#app-form.down {
  bottom: 2.5rem;
}

#app-input {
  flex: 1 1 auto;
  border-radius: inherit;
  border: none;
  background: transparent;
  font-size: 1.1rem;
  padding: .5rem;
  color: inherit;
}

#app-input:focus {
  outline: none;
}

#app-submit-btn {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background: var(--submit-btn-bg);
}

button:hover {
  cursor: pointer;
}

#task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background: var(--task-bg);
  border-radius: 1rem;
  transition: box-shadow .2s ease 0s;
}

.task:hover {
  box-shadow: 3px 3px 5px var(--form-shadow-color);
}

.task > p {
  flex: 1 1 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  hyphens: auto;
}

.task button {
  border: none;
  background: inherit;
  color: inherit;
  flex: 0 0 auto;
  border-radius: 5px;
  padding: .4rem;
}


.task button:hover {
  background: var(--task-btn-hover-bg);
}

.task > label input {
  display: none;
}

.task > label {
  flex: 0 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-size: .8rem;
  color: var(--task-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task > label:hover {
  cursor: pointer;
}

.task.completed > label {
  background-color: var(--text-color);
}

.task.completed > p {
  text-decoration: line-through;
  color: gray;
}

.info-card {
  display: none;
  background: var(--info-card-bg);
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  min-width: 300px;
  border: 1px solid var(--form-border-color);
  border-radius: 1rem;
  box-shadow: 3px 3px 10px var(--info-card-shadow-color);
  overflow: hidden;
  z-index: 20;
}

.info-card-content {
  position: relative;
  overflow: hidden auto;
  width: 100%;
  max-height: 350px;
  min-height: 200px;
}

.info-card-content div {
  padding: 1rem;
}

.info-card-content div:hover {
  background: var(--info-card-hover-bg);
}

.info-card p {
  line-height: 1.5;
}

.info-card.visible {
  display: block;
}

.info-card-content::-webkit-scrollbar {
  width: .5rem;
  background: transparent;
}

.info-card-content::-webkit-scrollbar-thumb {
  background: var(--info-card-scrollbar-thumb-bg);
  border-radius: .25rem; 
}

.exit-btn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
  font-size: 1rem;
}

.task .status {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: bold;
  color: hsl(0 85% 60%);
}

.task .status i {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0 85% 60%);
  color: white;
  text-shadow: 0 0 2px white;
  border-radius: 50%;
  font-size: .7rem;
}

.task.completed .status {
  color: hsl(120 70% 45%);
}

.task.completed .status i {
  background: hsl(120 70% 45%);
}

.task.hidden {
  display: none;
}

#app .select {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 2rem;
}

#app .select select {
  appearance: none;
  background: var(--drop-menu-bg);
  color: inherit;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  padding-right: 2rem;
  font-size: 1rem;
}

#app .select select:hover {
  background: var(--drop-menu-hover-bg);
  cursor: pointer;
}

#app .select select:focus {
  outline: none;
}

#app .select::after {
  content: "⌄";
  position: absolute;
  top: -.2rem;
  right: .5rem;
  font-size: 1.5rem;
  pointer-events: none;
}

#welcome-message {
  position: absolute;
  bottom: 55%;
  width: 100%;
}

#welcome-message h1 { 
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
}
